@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
.home_bg {
  background: linear-gradient(
    74deg,
    rgba(227, 225, 47, 1) 0%,
    rgba(255, 255, 255, 1) 35%
  );
}
.aboutBG {
  background: linear-gradient(270deg, #ffee77 1%, #ffffff 35%);
}
/* Dark mode styles */
.dark .home_bg {
  background: linear-gradient(
    74deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(33, 33, 33, 1) 35%
  );
}

.profile_animate {
  animation: popup 5s infinite linear;
}

@keyframes popup {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}



